.fuse-player {
  background: #000;
  position: relative;
}

.fuse-player * {
  -webkit-touch-highlight-color:  rgba(0, 0, 0, 0);
}

.fuse-player canvas {
  display: block;
}

.fuse-player:-webkit-full-screen {
  width:  100vw;
  height:  100vh;
}

.fuse-player-ui {
  position: absolute;
  bottom:  0;
  top:  0;
  left: 0;
  right:  0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

.fuse-player-ui-hidden {
  opacity: 0;
}

.fuse-player-ui-right,
.fuse-player-ui-left,
.fuse-player-ui-bottom,
.fuse-player-ui-top {
  position: absolute;
}

.fuse-player-ui-right:empty,
.fuse-player-ui-left:empty,
.fuse-player-ui-bottom:empty,
.fuse-player-ui-top:empty {
  display: none !important;
}

.fuse-player-ui-bottom,
.fuse-player-ui-top {
  background: rgba(0, 0, 0, 0.5);
  height:  34px;
  display: flex;
  flex-direction:  row;
  align-items:  center;
  padding: 0 5px;
}

.fuse-player-ui-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}

.fuse-player-ui-top {
  top: 0;
  left: 0;
  right: 0;
}

.fuse-player-ui-right {
  top: 0;
  bottom: 0;
  right: 0;
}

.fuse-player-ui-left {
  top: 0;
  bottom: 0;
  left: 0;
}

.fuse-player-ui > * {
  pointer-events: all;
}

.fuse-player-scrubber {
  position: absolute;
  bottom: 100%;
  left:  0;
  right:  0;
  background:  rgba(0, 0, 0, 0.3);
  height:  10px;
  transform-origin:  bottom;
  transform:  scaleY(0.2);
  transition:  transform 0.2s linear;
  cursor: pointer;
  z-index:  0;
}

.fuse-player-scrubber:hover {
  transform:  scaleY(1);
}

.fuse-player-scrubber-position,
.fuse-player-scrubber-target,
.fuse-player-scrubber-buffered {
  position: absolute;
  top: 0;
  left: 0;
  width:  100%;
  height:  100%;
  background: rgba(255, 255, 255, 0.4);
  transform-origin: left;
}

.fuse-player-scrubber-position {
  background: #5bcde7;
  z-index:  1;
}

.fuse-player-scrubber-target,
.fuse-player-scrubber-buffered {
}

.fuse-player-scrubber-handle {
  height:  100%;
  width:  10px;
  position: absolute;
  top:  0px;
  margin-left:  -5px;
  background:  #FFF;
  z-index:  2;
}

.fuse-player-play,
.fuse-player-pause,
.fuse-player-fullscreen-toggle,
.fuse-player-vr-toggle {
  width: 30px;
  height: 30px;
  outline: 0;
  background: transparent no-repeat center / 22px 22px;
  border: 0;
  text-indent: -99999px;
  overflow: hidden;
  cursor: pointer;
  opacity:  0.8;
}

.fuse-player-play:hover,
.fuse-player-pause:hover,
.fuse-player-fullscreen-toggle:hover,
.fuse-player-vr-toggle:hover {
  opacity: 1;
}

.fuse-player-play {
  background-image: svg-load("icons/play.svg", fill=none, stroke=#fff);
}

.fuse-player-pause {
  background-image: svg-load("icons/pause.svg", fill=none, stroke=#fff);
}
.fuse-player-fullscreen-toggle {
  background-image: svg-load("icons/fullscreen-enter.svg", fill=none, stroke=#fff);
  margin-left:  auto;
}

.fuse-player-fullscreen-toggle.is-active {
  background-image: svg-load("icons/fullscreen-exit.svg", fill=none, stroke=#fff);
}

.fuse-player-vr-toggle {
  background-image: svg-load("icons/cardboard.svg", stroke=#FFF, fill=none);
  background-size:  32px auto;
  margin-left:  5px;
}

.fuse-player-time {
  font-size:  10px;
  font-family:  Verdana, Helvectica, Arial, sans-serif;
  color:  #FFF;
}


@media(pointer: coarse) {
  .fuse-player-ui-bottom,
  .fuse-player-ui-top {
    height:  54px;
  }

  .fuse-player-scrubber {
    height:  20px;
    transform: scaleY(1);
  }

  .fuse-player-play,
  .fuse-player-pause,
  .fuse-player-fullscreen-toggle,
  .fuse-player-vr-toggle {
    width:  44px;
    height:  44px;
  }
}
