.fuse-player {
  background: #000;
  position: relative;
  contain: content;
}

.fuse-player canvas {
  display: block;
}

.fuse-player:-webkit-full-screen {
  width:  100vw;
  height:  100vh;
}

.fuse-player-ui {
  position: absolute;
  bottom:  0;
  top:  0;
  left: 0;
  right:  0;
  pointer-events: none;
  transition: opacity 0.4s ease-in-out;
}

.fuse-player-ui-hidden {
  opacity: 0;
}

.fuse-player-ui-right,
.fuse-player-ui-left,
.fuse-player-ui-bottom,
.fuse-player-ui-top {
  position: absolute;
}

.fuse-player-ui-right:empty,
.fuse-player-ui-left:empty,
.fuse-player-ui-bottom:empty,
.fuse-player-ui-top:empty {
  display: none !important;
}

.fuse-player-ui-bottom,
.fuse-player-ui-top {
  background: rgba(60, 60, 60, 0.8);
  height:  54px;
  display: flex;
  flex-direction:  row;
  align-items:  center;
  padding: 0 5px;
}

.fuse-player-ui-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}

.fuse-player-ui-top {
  top: 0;
  left: 0;
  right: 0;
}

.fuse-player-ui-right {
  top: 0;
  bottom: 0;
  right: 0;
}

.fuse-player-ui-left {
  top: 0;
  bottom: 0;
  left: 0;
}

.fuse-player-ui > * {
  pointer-events: all;
}

.fuse-player-vr-toggle {
  width: 44px;
  height:  44px;
  margin-left:  auto;
}

.fuse-player-fullscreen-toggle {
  width: 44px;
  height:  44px;
  margin-left:  5px;
}
